<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>-->
    <link rel='stylesheet' href="/css/style.css" />
    <link rel="stylesheet" href="/css/typo.css"/>
  </head>
  <body>

  </body>
</html>
